body {
    margin: 0;
    padding: 0;
}

.mainfoto {
    display: block;
    width: 100%;
    height: auto;

}

header img {
    width: 91px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

section p {
    text-align: center;
    background-color: #40D9E4;
    padding: 20px;
    top: 0;
    
}

h1 {
    position: absolute;
    left: 6%;
    top: 70%;
    color: white;
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}